<% title('Home') -%>

<ul class="rounded">
  <li class="arrow"><%= link_to "Latest Tracks", tracks_path %></li>
  <li class="arrow"><%= link_to "Artists", artists_path %></li>
  <li class="arrow"><%= link_to "Required Listening", requiredlistening_index_path %></li>
</ul>
