<div id="facebook">
  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdenachtdienst.org%2Ftracks%2F<%= @track.to_param %>&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=dark" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:40px; padding-top: 20px;"></iframe>
</div>
