<ul id="tracklist">
<% @tracks.each do |t| %>
  <li id="<%= t.id %>" class="track">
    <h2><%= link_to t.name, track_path(t) %></h2>
    <p class="description"><%= t.description %></p>
    <a class="play" href="<%= t.mp3.url %>">play</a>
  </li>
<% end %>
</ul>
