%ul.tracklist
  -@tracks.each_with_index do |t, i|
    %li{:id => "track-#{i}", :class => 'track'}
      %h2= link_to t.name, track_path(t), :id => i
      %a{:class => 'play', :href => "#{track_download_path(t)}"}
