<% title('All tracks') -%>

<div class="grid_12">
  <div class="listing">
    <%= link_to image_tag('latesttracks.png'), tracks_path %>
    <%= render :partial => 'tracks/tracklist' %>
  </div>
</div>
