-content_for :head do
  =auto_discovery_link_tag(:rss, track_feed_url)
-content_for :title do
  Tracks |

.grid_5
  .listing
    %h1= link_to 'Latest tracks', tracks_path
  =render :partial => 'tracks/tracklist'
  
  =will_paginate @tracks
