<% content_for :title do %>Tracks |<% end %>

<div class="grid_12">

  <div class="grid_5 alpha">

    <div class="listing"><h1><%= link_to "Latest tracks", tracks_path %></h1></div>

  <%= render :partial => 'tracks/tracklist' %>

  </div>

</div>
