<div class="grid_12">

  <div class="grid_5 alpha">

    <div class="listing"><h1>Latest tracks</h1></div>

  <%= render :partial => 'artists/tracklist' %>

  </div>
  
    <div class="grid_5 prefix_1">
      
      <div id="weblog" class="listing"><h1>Weblog</h1></div>
      
    </div><div class="clear"></div>
    
    <div class="grid_5 alpha">
      
      <div id="artists" class="listing"><h1>Artists</h1></div>
      
    </div>

</div>
