<% content_for :title do %>
  <%= @track.name %> |
<% end %>

<div class="grid_12">
  
  <div class="grid_5 alpha">
    <%= @track.name %>
  
    <div class="listing"><h1>Other tracks</h1></div>
    <%= render :partial => 'artists/tracklist' %>
  </div>
</div>
