<% content_for :title do %><%= @track.name %> |<% end %>

<div class="grid_5">
  <div class="listing"><h1><a href="#"><%= @track.name %></a></h1></div>

  <div class="listing"><h1>Other tracks</h1></div>
  <%= render :partial => 'artists/tracklist' %>
</div>
