<ul class="tracklist" style="margin-left: -10px;">
<% @artists.each do |a| %>
  <li class="grid_3">
    <h2><%= link_to a.name, artist_path(a) %></h2>
    <p><%= a.bio %></p>
  </li>
<% end %>
</ul>

