<% title(@artist.name) -%>

<ul class="rounded">
  <li>
    <%= image_tag @artist.avatar(:medium), :width => 150 if @artist.avatar? %>
    <%= simple_format(@artist.bio) %>
  </li>
</ul>
<ul>
  <% @tracks.each do |t| -%>
    <li>
      <%= link_to h(t.name), track_download_path(t), :rel => "external" %>
    </li>
  <% end -%>
</ul>
