<%- title("Articles") %>

<h1>Articles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @articles.each do |a| %>
    <%= content_tag :tr, :id => "article_#{a.id}", :class => cycle('odd', 'even') do %>
      <td><%= link_to a.title, article_path(a) %></td>
      <td><%= link_to "Edit", edit_admin_article_path(a) %></td>
      <td><%= link_to "Delete", admin_article_path(a.id), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  <% end %>
</table>
