<% title(@article.title) -%>

<div class="grid_6">
  <div class="article">
    <div class="listing">
      <h1><%= @article.title %></h1>
      <p><%= @article.content %></p>
    </div>
  </div>
</div>
