<%- title("Admin overview") %>

<div class="grid_10">

  <%= link_to 'Tracks', admin_tracks_path %>
  <%= link_to 'Weblogs', admin_weblogs_path %>
  <%= link_to 'Artists', admin_artists_path %>
  <%= link_to 'Tracks', admin_tracks_path %>
</div>
