html, body, #wrap {
	height: 100%;
}
body > #wrapper {
	height: auto;
	min-height: 100%;
}

#wrapper {
	padding-bottom: 130px;
	padding-top: 40px;
}

#footer {
	position: relative;
	background: #7D6978;
	padding-top: 10px;
	margin-top: -130px;
	height: 100px;
	border-top: 20px solid black;
	clear: both;
	line-height: 20px;
}

body {
	background: #FFFFF8;
	height: 100%;
	color: #000;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 75%;
}

#wrapper input.text {
	width: 691px;
}

#wrapper textarea.text {
	border: 1px solid #999;
	padding: 0.25em;
	width: 691px;
}

#dialog input.button, #wrapper input.button {
	margin: 0.5em 0;
}
#dialog .errorExplanation ul {
	margin: 10px 0 10px 0!important;
}
#dialog .errorExplanation li {
	font-weight: bold;
	list-style: none!important;
}

#flash_container div {
	font-weight: bold;
}

#flash_notice {
	padding: 20px;
	background: pink;
}

#flash_error {
	padding: 20px;
	color: red;
	background: white;
}

#content {
	color: #000;
	padding-top: 20px;
}

.track h2 {
	font-size: 20px;
}

.track {
	padding-bottom: 30px;
}

h1 {
	font-size: 2em;
}

#tracklist {
	padding-top: 10px;
}

.listing {
	padding-top: 20px;
	/* text-transform: uppercase;*/
	font-family: "Graublau Sans Web";
	padding: 10px;
	/* background: #B2211A;*/
	width: 100%;
}

.listing a {
	color: #B2211A;
}

/*#weblog {
	background: #FF473E;
}

#artists {
	background: #FF5F58;
}
*/
#tracklist li {
	margin: 0;
	line-height: 18pt;
	padding: 10px;
	height: auto;
	width: 100%;
	/* background: #62A48B;*/
	border-bottom: 1px solid rgb(187, 187, 187);
}

#tracklist li:last-child {
	border: none;
}

#tracklist li h2 {
	font-size: 14pt;
}

#login{
}

#footer a {
/*	font-weight: bold;*/
}

#header {
	padding-top: 10px;
	height: 70px;
	background: #7D6978;
	border-bottom: 20px solid #464A47;
}

/* Player */

#player {
	height: 40px;
	background: black;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: yellow;
	line-height: 40px;
	position: fixed;
	opacity: 0.8;
}

/* typography and links */

@font-face {
	font-family: "Graublau Sans Web";
	src: url(GraublauWeb.otf) format("opentype");
}
@font-face {
	font-family: "Graublau Sans Web";
	font-weight: bold;
	src: url(GraublauWebBold.otf) format("opentype");
}