<div id="jplayer"></div>
<div id="player">
  <div id="player_container">
    <h3 id="player_song_title"></h3>
    <ul id="player_controls">
      <p id="player_play">play</p>
      <li id="player_pause">pause</li>
    </ul>
    <div id="play_time"></div>
    <div id="player_progress">
      <div id="player_progress_load_bar">
        <div id="player_progress_play_bar"></div>
      </div>
    </div>
  </div>
</div>
