<ul id="tracklist" class="grid_8">
<% @track.each do |t| %>

  <li class="track">
    <h2><%= link_to t.name, track_path(t.id) %></h2>
    <p><%= t.description %></p>
    <p><%= link_to "Delete", admin_track_path(t), :confirm => 'Are you sure?', :method => :delete %></p>
  </li>
  
<% end %>
</ul>
