  <ul id="tracklist">
  <% @weblogs.each do |w| %>
    <li id="<%= w.id %>" class="track">
      <h2><%= link_to w.title, weblog_path(w) %></h2>
      <p><%= w.content %></p>
    </li>
  <% end %>
  </ul>
