-title("Weblogs")

.grid_6
  .listing
    %h1 Posts

  %ul#tracklist
    -@weblogs.each do |w|
      %li.track
        %h2= link_to w.title, weblog_path(w)
        %p= w.content

  =will_paginate @weblogs
