<% content_for :title do %><%= @weblog.title %> |<% end %>

<div class="grid_6">

  <div class="listing"><h1><%= @weblog.title %></h1></div>

  <ul id="tracklist">

    <li class="track">
      <p><%= @weblog.content %></p>
    </li>

  </ul>



</div>
