<div class="grid_12">

  <div class="grid_5 alpha">
    <div class="listing"><h1>Posts</h1></div>

    <ul id="tracklist">
    <% @weblog.each do |w| %>
      <li class="track">
        <h2><%= link_to w.title, weblog_path(w) %></h2>
        <p><%= link_to "Delete", admin_weblog_path(w.id), :confirm => 'Are you sure?', :method => :delete %> |
           <%= link_to "Edit", edit_admin_weblog_path(w) %></p>
      </li>
    <% end %>
    </ul>
  </div>

</div>
