<ul>
  <li><%= menu_link("overview", "Home", root_path) %></li>
  <li><%= menu_link("tracks", "Tracks", tracks_path) %></li>
  <li><%= menu_link("artists", "Artists", artists_path) %></li>
  <li><%= menu_link("requiredlistening", "Required Listening", requiredlistening_path) %></li>
</ul>
