!!!Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      =yield(:title)

    =stylesheet_link_tag 'reset'
    =stylesheet_link_tag 'login'
    =yield(:head)

    %style{:type => 'text/css', :media => 'screen'}
      :sass
        body
          :background #000

  %body
    =yield
